/********** Home Page CSS **********/
/*******************************/


/* ********** Loader CSS ********** */
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 0.75s, visibility 0.75s;
    z-index: 20000;
}

.loader--hidden {
    opacity: 0;
    visibility: hidden;
}


.loader::after {
    content: "";
    width: 70px;
    height: 70px;
    border: 15px solid #dddddd;
    border-top-color: #1665aa;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}

@keyframes loading {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}

/* ********** Loader End ***********/


/* ********** progress Start ***********/

.progress-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #808080;
    overflow: hidden;
    z-index: 9999;
}

.progress {
    background-color: #64f769;
    height: 100%;
    animation: indeterminate 4s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
}

.progress:after {
    content: '';
    background-color: #4c8fc5;
    position: absolute;
    height: 100%;
    width: 100%;
    animation: indeterminate-short 4s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
    animation-delay: 1.15s;
}

@keyframes indeterminate {
    0% {
        transform: translateX(-35%);
    }

    60% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(100%);
    }
}

@keyframes indeterminate-short {
    0% {
        transform: translateX(-200%);
    }

    60% {
        transform: translateX(107%);
    }

    100% {
        transform: translateX(107%);
    }
}

.content {
    padding: 20px;
}

/* ********** progress End ***********/


a,
a:hover {
    text-decoration: none;
}

/* ********************* Navbar/Top Bar CSS ********************* */
.navbar {
    position: fixed;
    width: 100vw;
    transition: all 0.8s ease;
    font-weight: 600;
    opacity: 1;
    z-index: 1000;
}


/* JS Added Class */
.navbar.sticky {
    top: 0px;
    background: linear-gradient(to bottom, rgb(220, 220, 220), rgb(205, 204, 204));
    opacity: 999;
    z-index: 1000;
    transition: 0.8s;
    border-bottom: 0;
    box-shadow: 0 2px 20px #787a91;
}


.top-bar {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5px;
    background: url(../images/bg_shape.png) fixed center / cover;
    opacity: 1;
    top: 0;
    border-bottom: 0;
    transition: top 0.6s ease-in-out, opacity 0.8s ease-in-out;

}
.horizontal-bar{
    width: 99vw;
}

.top-bar span {
    color: #000;
    margin-left: 3vw;
    border-left: 1px solid #808080;
    border-right: 1px solid #808080;
    padding: 0 8px;
}
.top-bar .mailto{
    color: #000;
}
.top-bar .mailto:hover{
    color: #393947;
}
.top-bar span:hover {
    color: #393947;
}

.top-bar ul {
    list-style: none;
    display: flex;
    margin-right: 2vw;
    transition: color 0.6s ease-in-out;
    padding-top: 10px;
}

.top-bar ul li:nth-child(1):hover a {
    color: #5579c8;
}

.top-bar ul li:nth-child(2):hover a {
    color: #00acee;
}

.top-bar ul li:nth-child(3):hover a {
    color: #0077B5;
}

.top-bar ul li:nth-child(4):hover a {
    /* color: #f42f92; */
    background: linear-gradient(to right, #f9ce34, #ee2a7b, #6228d7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.top-bar li {
    font-size: 1.5rem;
    border-right: 1px solid #808080;
    padding: 0px 15px;

}

.top-bar li:last-child {
    /* border-right: 1px solid #808080; */
    border-right: none;
}

.top-bar a {
    color: #000;
}

.top-bar a:hover {
    color: #222;
}

nav {
    background: url(../images/bg_shape.png) #f5f5f5 fixed center / cover;
    padding: 5px 20px;
    display: flex;
    align-items: center;
    color: #000;
    z-index: 90000;
    border-bottom: 1px solid #808080;
    transition: all 0.8s;
    box-shadow: 0 6px 10px #787a91;
}

nav a {
    color: #000;
}


.logo {
    flex: 1;
}

.logo a {
    display: flex;
    align-items: center;
    font-size: 20px;
}

.logo a:hover {
    color: #3e3e47;
}

.logo img {
    width: 40px;
    margin-right: 10px;
}


.menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.menu a {
    color: #3f3f49;
    background-color: none;
    text-decoration: none;
    padding: 8px 5px;
    border: 0px solid transparent;
    transition: all 0.3s ease;

}

.menu a:hover,
.menu a.nav-active {
    padding-bottom: 12px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #bfd7f8;
    border-bottom-width: 5px;
    border-bottom-color: #1665aa;
    color: #1665aa;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}


.menu li {
    padding: 15px 10px;
    font-size: 16px;

}


.toggle {
    font-size: 30px;
    display: none;
}

@media screen and (max-width:995px) {
    .top-bar {
        width: 100vw;
    }

    nav {
        display: block;
        position: relative;
        padding: 15px 20px;
    }

    .menu {
        margin-top: 15px;
        display: none;
    }

    .menu.active,
    .toggle {
        display: block;
    }

    .toggle {
        position: absolute;
        top: 15px;
        right: 20px;

    }


}
@media screen and (max-width:508px) {
    .facebook-share-hidden{
        display: none;
    }
    
}
@media screen and (max-width:780px) {
    .landing-left{
        margin-top: 12vh;
    }
    
}
@media screen and (max-width: 450px) {
    .hiddenmail{
        display: none;
    }

}

/* ********************* Navbar/Top Bar CSS ********************* */




/* ********************* Welcome  Section CSS ********************* */

.home-landing {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 60px 60px;
    flex-wrap: wrap;
}

.landing-left {
    flex: 0.55;
}

.landing-left img {
    max-width: 100%;
    min-width: 300px;
}

.landing-right {
    min-width: 320px;
    margin: 60px 20px;
    display: flex;
    flex: 0.4;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 30px;
    box-shadow: 5px 2px 20px rgb(0 0 0 / 20%);
    border-radius: 20px;
}

.floating {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-top: 40px;
}

.landing-right-logo {
    vertical-align: middle;
}

.landing-right h1 {
    font-size: 40px;
    margin-top: 20px;
}

.landing-right p {
    font-size: 20px;
    margin: 20px 0;
    color: #495464;
    line-height: 32px;
}

first-letter {
    color: #4a90f4;
}

second-letter {
    color: #ffb808;
}

third-letter {
    color: #f74037;
}

forth-letter {
    color: #14b25f;
}


.member-btn {
    background: #2f5be7;
    box-shadow: 0 2px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
    color: #ffffff;
    padding: 12px 18px;
    font-size: 15px;
    border-radius: 50px;
    text-decoration: none;
    transition: all 0.6s ease;
}

.member-btn:hover {
    background-color: transparent;
    box-shadow: inset 0 0 0 3px #2f5be7;
    color: inherit;
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 15px);
    }

    100% {
        transform: translate(0, 0px);
    }

}

@media (min-width: 768px) {
    .landing-right {
        width: 100% !important;
    }

}

@media (min-width: 1200px) {
    h1 {
        font-size: 2.5rem;
    }

}

/* ********** Welcome End ********** */




/* ********************* About Section ********************* */

#about-container {
    opacity: 0.1;
    transform: translateY(70px);
    transition: opacity 1.2s ease-in-out, transform 0.5s ease-in-out;
}

#about-container.show {
    opacity: 1;
    transform: translateY(0);
}

.about_head {
    padding-top: 20px;
    color: #545353;
    transition: color 0.3s ease-out;
    font-size: 2.5rem;
    font-weight: 900;
    text-align: center;
}

.about_head:hover {
    color: black;
}

.about-img img:hover {
    opacity: 0.8;
    transition: opacity 0.3s ease;
}

.about-row {
    padding: 30px 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.about-body {
    position: relative;
    padding: 2rem;
    border-radius: 1.5rem;
    transition: transform 0.3s ease-out;
    height: 24rem;
    width: 20rem;
    margin: 1rem;
    flex: 1 1 20rem;
    overflow: hidden;
}


.about-body-red {
    background: linear-gradient(to bottom, #680a0a, #ff0000);

}

.about-body-blue {
    background: linear-gradient(to bottom, #082643, #0000ff);

}

.about-body-green {
    background: linear-gradient(to bottom, #063705, #008000);

}

.about-body:hover {
    box-shadow: 10px 15px 10px #91919c;
    transform: scale(1.1);
}

.about-col-1 .about-body .about-img img,
.about-col-2 .about-body .about-img img,
.about-col-3 .about-body .about-img img {
    margin: 0 auto;
    display: block;
}

.about-col-1 .about-body .about-heading,
.about-col-2 .about-body .about-heading,
.about-col-3 .about-body .about-heading {
    font-weight: bolder;
    font-size: 1.4rem;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 8px;
}

.about-body .about-heading,
.about-body .about-para {
    font-size: 1rem;
    color: white;
    padding: 0 8px;
    margin: 0;
    text-align: center;
}

/* ********************* About END ********************* */




/* ********************* Opportunities Section ********************* */
#opportunities {
    opacity: 0.2;
    transform: translateY(70px);
    transition: opacity 1.2s ease, transform 0.5s ease;
    padding-top: 34px;
    color: rgb(70, 69, 69);
    margin-top: 0px;
    font-size: 1rem;
    font-weight: 500;
}

#opportunities.show {
    opacity: 1;
    transform: translateY(0);
}

div.col-body:hover {
    background-color: #e0f4f4;
    transition: background-color 0.5s ease;
}

.tech-header h2:hover {
    color: orangered;
    transition: color 0.3s ease;
}

.tech-header h4:hover {
    color: blue;
    transition: color 0.2s ease;
}

.tech-first-col,
.tech-second-col,
.tech-third-col,
.tech-fourth-col,
.tech-fifth-col {
    transform: translateY(0);
    opacity: 1;
    transition: transform 0.5s ease, opacity 0.5s ease;
    width: 90vw;
    margin: 0 auto;

}

.tech-first-col:hover,
.tech-second-col:hover,
.tech-third-col:hover,
.tech-fourth-col:hover,
.tech-fifth-col:hover {
    transform: translateY(-5px);

}

.tech-para,
.tech-btn {
    transition: color 0.3s ease, background-color 0.3s ease;
}

.tech-para:hover,
.tech-btn:hover {
    color: blueviolet;
}

.tech-btn:hover {
    background-color: #0056b3;
}

.tech-img img {
    transition: opacity 0.3s ease;
}

.tech-img img:hover {
    opacity: 0.8;
}

.tech-container::after {
    content: "";
    display: table;
    clear: both;
}

.tech-header h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    padding: 23px;
    padding-bottom: 0px;
}

.tech-header h4 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
}

.tech-first-col .col-body,
.tech-second-col .col-body,
.tech-third-col .col-body,
.tech-fourth-col .col-body,
.tech-fifth-col .col-body {
    display: flex;
    position: sticky;
    margin: auto;
    border-radius: 20px;
}

.tech-first-col .col-body,
.tech-third-col .col-body,
.tech-fifth-col .col-body {
    padding-left: 30px;
}

.tech-second-col .col-body,
.tech-fourth-col .col-body {
    padding-left: 50px;

}


.tech-box {
    padding: 40px 0px;
}

.col-body {
    padding: 40px 0px;
}

.tech-first-col .tech-img,
.tech-third-col .tech-img,
.tech-fifth-col .tech-img {
    padding-right: 80px;
}

.tech-second-col .tech-img,
.tech-fourth-col .tech-img {
    padding-left: 60px;
    padding-right: 28px;

}

.tech-btn {
    background-color: rgb(42, 42, 167);
    border: 2px solid black;
    color: rgb(228, 227, 227);
    font-size: 1rem;
    height: 50px;
    width: 120px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 10px 5px 5px rgb(145, 145, 156);
    position: relative;
    margin: 0px;
}

.tech-btn:hover {
    border: 2px solid rgb(189, 189, 232);
    color: rgb(238, 91, 91);
    color: greenyellow;
}

.tech-para {
    padding-bottom: 12px;
}


/* Responsive */

@media only screen and (max-width: 768px) {

    .tech-first-col .col-body,
    .tech-second-col .col-body,
    .tech-third-col .col-body,
    .tech-fourth-col .col-body,
    .tech-fifth-col .col-body {
        flex-direction: column;
        padding-left: 35px;
        padding-right: 35px;
    }

    .tech-first-col .tech-img,
    .tech-second-col .tech-img,
    .tech-third-col .tech-img,
    .tech-fourth-col .tech-img,
    .tech-fifth-col .tech-img {
        padding: 0;
        margin-bottom: 20px;
    }

    .tech-btn {
        width: 100%;
    }

    .tech-header h2 {
        font-size: 1.5rem;
    }

    .tech-header h4 {
        font-size: 1rem;
    }

    .tech-para {
        font-size: 0.9rem;
    }

    .col-body .tech-img {
        order: -1;
    }

    .tech-img img {
        width: 100%;
        height: auto;
    }
}

@media only screen and (max-width: 480px) {
    .tech-header h2 {
        font-size: 1.2rem;
    }

    .tech-header h4 {
        font-size: 0.9rem;
    }

    .tech-para {
        font-size: 0.8rem;
    }

    .tech-img img {
        max-width: 100%;
        height: auto;
    }
}

/* ********************* Opportunities END ********************* */




/* ********************* Accomplishments Section ********************* */

#accomplishments {
    opacity: 0.1;
    transform: translateY(70px);
    transition: opacity 1.2s ease-in-out, transform 0.5s ease-in-out;
}

#accomplishments.show {
    opacity: 1;
    transform: translateY(0);
}

.acc-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px;
    height: fit-content;

}

.acc-card {
    position: relative;
    width: 320px;
    height: 450px;
    margin: 50px;
    /* background: blue; */
    border-radius: 20px;
    border-bottom-left-radius: 160px;
    border-bottom-right-radius: 160px;
    box-shadow: 0 15px 0 #fff,
        inset 0 -15px 0 rgba(255, 255, 255, 0.25),
        0 45px 0 rgba(0, 0, 0, 0.229);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    transform: all 0.5s ease;
}

.acc-card:before {
    content: '';
    position: absolute;
    top: -140px;
    left: -40%;
    width: 100%;
    height: 120%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.2));
    transform: rotate(35deg);
    pointer-events: none;
    filter: blur(5px);
}

.acc-card:nth-child(1) {
    background: linear-gradient(to top, #8d1919, #ff0000);
    transition: all 0.5s ease;

}

.acc-card:nth-child(1):hover {
    background: linear-gradient(to bottom, #8d1919, #ff0000);
    transform: translateY(-15px);
    scale: 1.05;
    box-shadow: 0 15px 0 #fff,
        inset 0 -15px 0 rgba(255, 255, 255, 0.25);

}

.acc-card:nth-child(1):hover .acc-icon::before,
.acc-card:nth-child(1):hover .acc-icon::after {
    box-shadow: none;

}

.acc-card:nth-child(2):hover .acc-icon::before,
.acc-card:nth-child(2):hover .acc-icon::after {
    box-shadow: none;

}

.acc-card:nth-child(3):hover .acc-icon::before,
.acc-card:nth-child(3):hover .acc-icon::after {
    box-shadow: none;

}

.acc-card:nth-child(2) {
    background: linear-gradient(to top, #133f69, #0000ff);
    transition: all 0.5s ease;

}

.acc-card:nth-child(2):hover {
    background: linear-gradient(to bottom, #133f69, #0000ff);
    transform: translateY(-15px);
    scale: 1.05;
    box-shadow: 0 15px 0 #fff,
        inset 0 -15px 0 rgba(255, 255, 255, 0.25);

}

.acc-card:nth-child(3) {
    background: linear-gradient(to top, #0e610d, #008000);
    transition: all 0.5s ease;

}

.acc-card:nth-child(3):hover {
    background: linear-gradient(to bottom, #0e610d, #008000);
    transform: translateY(-15px);
    scale: 1.05;
    box-shadow: 0 15px 0 #fff,
        inset 0 -15px 0 rgba(255, 255, 255, 0.25);
}

.acc-icon {
    position: relative;
    width: 140px;
    height: 120px;
    background: #ffffff;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    box-shadow: 0 15px 0 rgba(0, 0, 0, 0.1),
        inset 0 -8px 0 #fff;
    z-index: 100;
    display: flex;
    justify-content: center;
}

.tech-header h2,
.tech-header h4 {
    color: #545353;
}

.acc-icon::before {
    content: '';
    position: absolute;
    top: 0;
    left: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-top-right-radius: 50px;
    box-shadow: 15px -15px 0 15px white;
    transition: all 0.2s;
}

.acc-icon::after {
    content: '';
    position: absolute;
    top: 0;
    right: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-top-left-radius: 50px;
    box-shadow: -15px -15px 0 15px white;
    transition: all 0.2s;

}

.acc-icon i {
    position: relative;
    font-size: 6rem;
    z-index: 200;
    stroke-width: 24px;
}

.acc-content {
    position: absolute;
    width: 100%;
    padding: 30px;
    padding-top: 140px;
    text-align: center;
}

.acc-content h2 {
    font-size: 1.75rem;
    color: #fff;
    margin-bottom: 10px;
    font-weight: 900;
}

.acc-content p {
    color: #fff;
    line-height: 1.5em;
    font-weight: 600;
}

/* ********************* Accomplishhments END ********************* */

/* ****** Faq Button ****** */
.faq-button-container {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.faq_button {
    display: inline-block;
    padding: 20px 40px;
    background-color: #007bff;
    border: 2px solid #0056b3;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 0 0 inset #000080;
    transition: all 0.5s ease-out;
    font-size: 1.3rem;
}

.faq_button:hover {
    box-shadow: 0 0 0 50px inset #0056b3;
    scale: 1.06;
}

/* ********** Faq Button End ********** */



/* ********** scroll to top ********** */

.back-to-top {
    position: fixed;
    background: #87ceeb;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 1;
    font-size: 22px;
    right: 15px;
    bottom: 15px;
    transition: background 0.5s;
    z-index: 9;
}

.back-to-top i {
    color: #4a4c70;
    padding-top: 10px;
}

.back-to-top:hover {
    background: #4a4c70;
}

.back-to-top:hover i {
    color: #87ceeb;
}

/* ********************* Scrl to Top END ********************* */




/* ********************* FOOTER Start ********************* */
footer {
    width: 100%;
    position: relative;
    bottom: 0;
    background: linear-gradient(to right, #2f4ae4, #061265);
    /* background: linear-gradient(to right, #4b4e76, #03105d); */
    color: #fff;
    padding: 40px 10px;
    border-top-left-radius: 125px;
    line-height: 20px;

}

.footer-row {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.footer-col {
    flex-basis: 25%;
    padding: 10px;
    font-size: 0.9rem;
}

.footer-col:nth-child(2),
.footer-col:nth-child(3) {
    flex-basis: 15%;
}

.logo {
    margin-bottom: 25px;
    margin-left: 25px;
    width: 60%;
    border-radius: 25px;

}

@media (max-width: 773px) {
    .logo {
        width: 20%;
        margin-left: 10px;
    }
}

.about-community:hover {
    color: #f5f5f5;
    scale: 1.1;
    transition: all 0.3s ease-in-out;

}

.footer-col h3 {
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
    font-size: 22px;
    font-weight: 700;
    color: #d5e7ff;

}

.footer-col ul li i {
    position: relative;
    margin-right: 8px;
}

.footer-col ul li a:hover {
    color: #6faaf8;
    letter-spacing: 0.7px;
    transition: letter-spacing 0.5s ease-out;
}

.footer_programs {
    font-size: 0.79rem;
}

.footer-contact {
    width: fit-content;
    margin: 15px 0;

}
.footer-contact a{
    color: #fff;
}


.footer-contact:hover {
    border-bottom: 1px solid #0000ff;
    transition: all 0.3s ease-in;

}

.banner-tag {
    margin: -5rem 22rem;
    padding: 0.3rem;
    background: #ffffff;
    border-radius: 8px;
    width: fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
}

.banner-tag-home {
    margin: -5rem 22rem;

}


.banner-tag img {
    margin: auto 0.5rem;
    width: 4.5rem;
    height: auto;
}

.banner-tag p {
    margin: auto 1rem;
    font-size: 1rem;
    font-weight: 500;
    color: black;
    text-align: left;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}



@media (max-width: 1146px) and (min-width: 824px) {
    .banner-tag {
        overflow: hidden;
    }
}

@media (max-width: 895px) and (min-width:827px) {
    .banner-tag span {
        display: none;
    }
}


@media (max-width: 827px) {
    .banner-tag {
        margin: 1rem auto;
        width: calc(100% - 40px);
        max-width: 400px;
        overflow: hidden;

    }
}


.banner-tag span {
    padding: 0.2rem 0.6rem;
    font-size: 1.4rem;
    font-weight: 500;
    color: white;
    background: #ffb808;
    text-align: center;
    border-radius: 50px
}

ul li {
    list-style: none;
    margin-bottom: 12px;
}

ul li a {
    text-decoration: none;
    color: #fff;

}

.footer-form {
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 50px;
}

.input-container {
    display: flex;
    align-items: center;

}

form .envelop-icon {
    font-size: 20px;
    padding-right: 10px;
    border-bottom: 1px solid #ccc;
}

form .envelop-icon-home {
    font-size: 20px;
    padding-right: 10px;
    border-bottom: 1px solid #ccc;
    margin-top: 1px;
}

form .footer-mail-icon {
    margin-bottom: 1.8px;
}


form input {
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
    margin-bottom: 15px;
    padding: 10px 0px;
    border-bottom: 1px solid #ccc;

}

form .footer-submit-btn {
    background: transparent;
    outline: none;
    width: 130px;
    height: 40px;
    padding: 10px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #499de6;
    border: 1px solid #87ceeb;
    position: relative;
    z-index: 1;
    border-radius: 8px;
    transition: all 0.5s ease-out;
    color: white;

}

form .footer-submit-btn:hover {
    box-shadow: inset 300px 0 0 0 #87ceeb;
    color: black;

}

form .footer-arrow-icon {
    font-size: 16px;
}

form:hover {
    transition: all 0.3s ease-in-out;
}

.footer-social-icons .icon-social {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000;
    background: linear-gradient(to bottom, #fff, #989898);
    margin-right: 0.8rem;
    margin-top: 1rem;
    cursor: pointer;
}

.footer-social-icons .icon-social:hover {
    scale: 1.32;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
    background: linear-gradient(to bottom, #87ceeb, #1f59a5);
    box-shadow: 4px 4px 100px #b2d3ff;

}

footer hr {
    width: 90%;
    border: 0;
    border-bottom: 2px solid #d5e7ff;
    margin: 20px auto;

}

.copyright {
    text-align: center;
    color: #c8c8c8;
    margin-bottom: 2vh;

}

.developer {
    position: absolute;
    bottom: 0;
    right: 65px;
    font-size: 1rem;
    font-weight: 500;
    color: grey;
    margin: 0;
    padding: 5px;
}
.dev_link{
    background: linear-gradient(90deg, #e288ff 0%, #a66dff 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer-underline {
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
    right: 0;
    margin: 0 auto;
}

@media (max-width: 1157px) {
    .footer-underline {
        top: auto;
        margin: 0;
    }
}

.footer-underline span {
    width: 40px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;

}

@keyframes moving {
    0% {
        left: -20px;
    }

    100% {
        left: 100%;
    }

}

@media (max-width:768px) {
    footer {
        bottom: unset;
    }

    .footer-col {
        flex-basis: 100%;
    }

    .footer-col:nth-child(2),
    .footer-col:nth-child(3) {
        flex-basis: 100%;
    }
}

/* ********************* Footer END ********************* */



/* ****************************************** */
/* ****************************************** */
/* ********** CSS END ********** */
/* ****************************************** */
/* ****************************************** */
